<h1>Search</h1>

<div class="search_block">
    <%= form_tag do %>
        <%= text_field_tag :keyword, params[:keyword] %>
        <%= button_to "Search"%>
    <% end %>
</div>

<%= render "shopper/form", products: @products %>